body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("food3.jpg");
    background-size: cover;
}
.menu, .bfast-menu{
    float:left;
}
.menu{
    max-width: 400px;
    max-height: 100%;
    margin:5%;
    font-weight: 100px;
    border-radius: 20px 20px 20px 20px;
    color: rgb(253, 252, 252);
    border: 0px solid black;
    padding: 20px ;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75); 
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 30px 15px rgba(0, 0, 0, 0.75);
}
.bfast-menu{
    max-width: 400px;
    max-height: 100%;
    margin:5%;
    font-weight: 100px;
    border-radius: 20px 20px 20px 20px;
    color: rgb(253, 252, 252);
    border: 0px solid black;
    padding: 20px 30px;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75); 
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 30px 15px rgba(0, 0, 0, 0.75);
}
.menu-title {
    margin-bottom:5%;
    max-width:100%;
    max-height:100%;
    height: 15%;
    color:black;    
}
.menu-title p{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.menu-title a p{
    font-size:30px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a p{
    font-size:20px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bfast h3,.bfastimg{
    float:left;
}
.lunch h3,.lunchimg{
    float:right;
}
.dinner h3,.dinnerimg{
    float:left;
}
.bfast:hover{
    transform: scale(1.15);
    background-color:blue;
}
.lunch:hover{
    transform: scale(1.15);
    background-color:yellow;
}
.dinner:hover{
    transform: scale(1.15);
    background-color:red;
}
a h3{
    margin-top:5%;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bfast{
    margin-bottom: 2%;
    max-width: 33%;
    height: 20%;
    border-radius: 20px 20px 20px 20px;
    background-color:rgba(0, 0, 255, 0.514);
}
.bfastimg{
    width: 100%;
}
.lunch{
    margin-bottom: 2%;
    max-width:33%;
    height:20%;
    border-radius: 20px 20px 20px 20px;
    background-color:rgba(255, 255, 0, 0.712);
}
.lunchimg{
    width: 100%;
}
.dinner{
    margin-bottom: 2%;
    max-width:33%;
    height:20%;
    border-radius: 20px 20px 20px 20px;
    background-color:rgba(255, 0, 0, 0.5);
}
.dinnerimg{
    width: 100%;
}
.bfast, .lunch, .dinner{
    float:left;
}
.bfast-title {
    margin-bottom:2%;
    max-width:100%;
    max-height:100%;
    height: 15%;
    color:white; 
}
.bfast-title p{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 40px;
}
.bfast-choices{
    float:left;
    max-width:50%;
    max-height:100%;
    color:white;
    border-radius: 20px 20px 20px 20px;
    background-color:rgba(0, 0, 255, 0.514);
}
.bfast-choices:hover{
    transform: scale(1.15);
    background-color: blue;
}
.bfast-choices p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.bfastimg-choices{
    width: 50%;
    height: 50px;
}
.btn {
    background-color: black;
    margin-left: 40%;
}
.des1 p{   
    margin-left:2%;
    margin-left:2%;
    font-size:20px;
    color:Black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
